{% extends 'myapp/indexjoseph.html' %}

{% block content %}

  {% load crispy_forms_tags %}  
  
  <!--Password Reset Confirm-->
    <div class="container p-5">
        <div style="width: 600px;margin:0 auto;">{% include 'myapp/messages.html' %}</div>
	    <h2 class="font-weight-bold mt-3">Password Reset Confirm</h2>
		<hr>
        <p>Please enter your new password.</p>
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}                    
            <button class="btn btn-primary" type="submit">password_reset</button>
        </form>
    </div>

{% endblock %}