
{% extends 'myapp/ind2.html' %}
{% load crispy_forms_tags %} 
{% block content %}

        

<!--Register--> 

<div class="container py-5" style="width: 500px;margin:0 auto;">
	<h1>Sign Up</h1>
	<div style="width: 600px;margin:0 auto;">{% include 'myapp/messages.html' %}</div>
	<form method="POST">
		{% csrf_token %}
		<fieldset class="form-group">
			<legend class="border-bottom mb-4">Join Today</legend>
		{{ form|crispy }}
		<label for="illness_question">Do you have an illness,if no select N/A ?</label>
		<select style="width: 4.6cm; border-color: rgb(223, 221, 221); height: 4ch;" id="illness_question" onchange="illness_question()">
			<option value="">N/A</option>
			<option value="">Diabetes</option>
			<option value="">Pancreatis</option>
			<option value="no">Lactose intolerance</option>
			<option value="no">Peptic Ulcers</option>
		
			</select>
		<br><br>
		<label for="illness_question">Do you want a mealplan?</label>
		<select style="width: 7.5cm; border-color: rgb(223, 221, 221);height: 4ch;" id="illness_question" name="illness_question">
			<option value="">Select One</option>
			<option value="yes">Yes</option>
			<option value="no">No</option>
		</select>
			
	</fieldset>
	<div class="form-group">             
		<button class="btn btn-primary" type="submit">Register</button>
	</div>
	</form>
	{{form.errors}}
	<div class="border-top pt-3">
		<small class="text-muted">
	<!--<p class="text-center">If you already have an account, <a href="/login">login</a> instead.</p>-->
	Already Have An Account? <a class="ml-2" href="/login">Sign In</a>
</small>
</div>
</div>

{% endblock %}
